{% extends "home_page/base-home_page.html" %}
{% load static %}
{% block title %}Главная{% endblock %}



{% block content %}
    <div class="main-wrapper">
        {% include "home_page/inc/about/_about.html" %}
        <!--features-->
{#        {% include "home_page/inc/_features.html" %}#}
        <!--//features-->
        <!--FOOTER-->
        <footer class="footer text-center py-4">
            <small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/"
                                                                  target="_blank">3rd
                Wave Media</a></small>
        </footer>
        <!--//FOOTER-->
    </div><!--//main-wrapper-->


{% endblock %}
