<div class="col-md-4 mb-3">
    <div class="card blog-post-card">
        <img class="card-img-top" src="ТУТ КАРТИНКА НОВОСТИ!" alt="post image">
        <div class="card-body">
            <h5 class="card-title"><a class="theme-link" href="{% url 'blog:post' %}">Top 3 JavaScript Frameworks</a>
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
            <p class="mb-0"><a class="more-link" href="{% url 'blog:post' %}">Read more &rarr;</a></p>

        </div>
        <div class="card-footer">
            <small class="text-muted">Published 2 days ago</small>
        </div>
    </div><!--//card-->
</div><!--//col-->
