{% if page_obj.paginator.num_pages > 1 %}

{#    <nav aria-label="blog-nav nav nav-justified my-5"><ul class="pagination justify-content-center">#}
    <nav aria-label="center" class="blog-nav nav nav-justified justify-content-center my-5" ><ul class="pagination">
            {% if not page_obj.has_previous %}
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Начало</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page=1">Начало</a></li>
            {% endif %}
            {#                     цифры #}
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ p }}">{{ p }}<span class="sr-only">(current)</span></a></li>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if not page_obj.has_next %}
                <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Конец</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Конец</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}