{% extends "blog/blog-base.html" %}
{% load static %}
{% load sidebar %}
{% load menu %}
{% block title %} {{ title }} :: {{ block.super }} {% endblock %}
{% block content %}
    <script src="{% static 'blog/js/clear_form.js' %}"></script>
    <script src="{% static 'blog/js/switch_active_menu.js' %}"></script>

    <div class="main-wrapper ">

        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center">
                {% show_menu %}
                <h2 class="heading">Блог о разработке и жизни</h2>
                <!--Search-->
                <form action="{% url 'blog:search' %}" method="get">
                    <div class="input-group mb-3 justify-content-md-center ">
                        <input type="text" class="form-control col-lg-6 " name="search_content" placeholder="Найти"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" id="button-addon2">Кнопка</button>
                        </div>
                    </div>
                </form><!--Search-->
            </div><!--//container-->
        </section>
        <div class="container-fluid pl-5 ">
            <div class="row">
                <div class="col col-lg-9 col-md-12 col-sm-12 ">
                    {% block container_content %}
                        {% if posts %}
                            {% include "blog/blog-list-content.html" %}
                        {% else %}
                            <div class="col-auto text-center mt5 pt-5">
                            <p class="display-4 ">Статей не найдено!</p>
                            </div>
                        {% endif %}

                    {% endblock %}
                </div>
                <div class="col-lg-3 d-none d-lg-block col-lg-auto">
                    {% get_popular object.slug 3 %}
                    {% get_tags %}
                </div>
            </div>
        </div>
        <div class="justify-content-center">{% include "blog/inc/_paginator.html" %}</div>
        <footer class="footer text-center py-4">
            <small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/"
                                                                  target="_blank">3rd Wave Media</a></small>
        </footer>

    </div>

{% endblock %}

