<div class="popular-posts">
    <h2 class="text-center">Popular posts</h2>
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            {% if post.photo %}
                <img class="card-img-top" src="{{ post.photo.url }}" alt="{{ post.title }}">
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/id/1060//250/200/?blur" alt="post image">
            {% endif %}
        </a>
        <div>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <small>By {{ post.author }} - {{ post.created_at|date:'d.m.Y' }}</small>
        </div>
    {% endfor %}
</div>
