<div class="popular-posts  p-2">
    <h3 class="text-center border rounded border-secondary blog-tags-and-posts-menu">Популярные</h3>
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            {% if post.photo %}
                <img class="card-img-top p-2" src="{{ post.photo.url }}" alt="{{ post.title }}" >
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/id/1060//250/200/?blur" alt="post image">
            {% endif %}
        </a>
        <div>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <small>By {{ post.author }} - {{ post.created_at|date:'d.m.Y' }}</small>
        </div>
    {% endfor %}
</div>
