<div id="What_I_do">
    <section class="overview-section p-3 p-lg-5">
        <div class="container">
            <h2 class="section-title font-weight-bold mb-3">What I do</h2>
            <div class="section-intro mb-5">I have more than 10 years' experience building software for clients
                all
                over
                the world. Below is a quick overview of my main technical skill sets and technologies I use.
                Want to
                find out more about my experience? Check out my <a href="resume.html">online resume</a> and <a
                        href="portfolio.html">project portfolio</a>.
            </div>

            <div class="row">

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i>
                        </div>
                        <h3 class="item-title">HTML &amp; CSS</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->


                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-dochub mr-2"></i><i class="fab fa-docker"></i>
                        </div>

                        <h3 class="item-title">Docker & Dockerhub</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-python"></i></div>
                        <h3 class="item-title">Python</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-git-square"></i></div>
                        <h3 class="item-title">Vanilla JavaScript</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-js-square"></i></div>
                        <h3 class="item-title">Vanilla JavaScript</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-react mr-2"></i></div>
                        <h3 class="item-title">React &amp; React Native</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-node-js"></i></div>
                        <h3 class="item-title">Node.js</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-python"></i></div>
                        <h3 class="item-title">Python</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-php"></i></div>
                        <h3 class="item-title">PHP</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-npm mr-2"></i><i class="fab fa-gulp mr-2"></i><i
                                class="fab fa-grunt"></i></div>
                        <h3 class="item-title">npm, Gulp &amp; Grunt</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i>
                        </div>
                        <h3 class="item-title">HTML &amp; CSS</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-6 col-lg-3">
                    <div class="item-inner text-center">
                        <div class="item-icon"><i class="fab fa-sass mr-2"></i><i class="fab fa-less"></i></div>
                        <h3 class="item-title">Sass &amp; LESS</h3>
                        <div class="item-desc"></div>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->

            <div class="text-center py-3"><a href="services.html" class="btn btn-primary"><i
                    class="fas fa-arrow-alt-circle-right mr-2"></i>Services &amp; Pricing

            </a></div>

        </div><!--//container-->
    </section>
</div>
{% comment %}


<div id="featured-section">
    <div class="container">
        <hr>
    </div>
    {% include "home_page/inc/_featured-section.html" %}
</div>

<div id="testimonials-section">
    <div class="container">
        <hr>
    </div>
    {% include "home_page/inc/_testimonials-section.html" %}
</div>

<div id="latest-blog-section">
    <div class="container">
        <hr>
    </div>
    {% include "home_page/inc/_latest-blog-section.html" %}
</div>
{% endcomment %}
